* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding: 0.1px;
}

/* Navbar */

nav {
  height: 11vh;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  /* background-color: red; */
}

nav h1 {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monument;
  font-size: 45px;
  letter-spacing: -1px;
  position: relative;
  /* background-color: blue; */
}

nav h1::after {
  content: "©";
  font-family: gilroy;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top: 23%;
  right: 13%;
}

nav h1::before {
  content: "model management";
  font-family: gilroy;
  color: #666;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0.1px;
  bottom: 15%;
  right: 18%;
}

nav h2 {
  height: 100%;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #000;
  font-size: 28px;
  font-weight: 500;
  /* background-color: blue; */
}

nav h2:nth-last-child(2) {
  width: 29%;
  /* background-color: red; */
}

nav h2:nth-last-child(1) {
  width: 10%;
  /* background-color: red; */
}

/* header  */

header {
  height: 90%;
  width: 100%;
  padding: 4vw;
  position: relative;
  /* background-color: red; */
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: blue; */
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 52%;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 3vw;
  color: #fff;
  /* background-color: rgb(0, 0, 0, 0.154);
  backdrop-filter: blur(1px); */
}

#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}

#over1 h1 {
  font-size: 3.6vw;
  font-family: monument;
  /* mix-blend-mode: difference; */
}

#over1 h2 {
  font-size: 1vw;
  padding: 2vw 2.2vw;
  border: 1px solid #fff;
  border-radius: 50%;
  /* background-color: blue; */
}

#over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding: 1.5vw 0vw;
}

#over2 h4 {
  font-size: 1.3vw;
  font-weight: 500;
}

#over2 img {
  height: 3vw;
}

#scroll {
  height: 40vh;
  width: 100%;
  padding: 1vw;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: red; */
}

.container {
  height: 100%;
  width: 110%;
  display: inline-block;
  padding: 2vw;
  animation: autoscroll 10s linear infinite;
  /* background-color: blue; */
}

#scroll img {
  height: 110%;
  width: 15.3%;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 50%;
  margin: 1vw;
  /* display: none; */
}

@keyframes autoscroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#alphabet {
  height: 11vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-top: 3vw;
  /* background-color: red; */
}

#alphabet h5 {
  text-transform: uppercase;
  font-size: 1.7vw;
  font-weight: 400;
  font-style: italic;
  border-bottom: 2px solid #000;
  letter-spacing: 4px;
  margin-right: 2vw;
  cursor: pointer;
}

#alphabet h6 {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  padding: 0.5vw 0.7vw;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #00000000;
  transition: all ease 0.2s;

  /* background-color: yellow; */
}
#alphabet h6:hover {
  border: 2px solid #000000;
}

.random-page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 5vw;
}

.random-page-page1 {
  height: 100%;
  width: 50%;
  /* background-color: red; */
}

.random-page-page1 img {
  height: 95%;
  width: 100%;
  object-fit: cover;
  object-position: 30% 20%;
}

.random-page-page1 h1 {
  font-size: 2vw;
  letter-spacing: 0.2vw;
  font-family: monument;
}
.random-page-page2 {
  height: 100%;
  width: 46%;
}

.random-page-page2 img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.random-page-info {
  height: 27vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.random-page-info h6 {
  height: 100%;
  width: 50%;
  font-size: 1.5vw;
  line-height: 1.7vw;
  padding: 2vw;
  font-family: monument;
  text-align: start;
  letter-spacing: 0.1vw;
  /* background-color: blue; */
}

.random-page-info p {
  height: 100%;
  width: 50%;
  padding: 2vw;
  font-size: 1vw;
  line-height: 1.2vw;
  text-align: start;
}

#page3 {
  height: 100%;
  width: 100%;
  padding: 2vw 5vw;
  /* background-color: red; */
}

#page3-info {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  /* background-color: green; */
}

#page3-info-p1 #circle-text {
  height: 60%;
  width: 90%;
  margin-bottom: 6vw;
  mix-blend-mode: color-burn;
  animation: rotation 10s linear infinite;
  /* background-color: blue; */
}

@keyframes rotation {
  form {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

#page3-info-p1 #arrow {
  position: absolute;
  top: 15vw;
}

#page3-info-p1 {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

#page3-info-p1 h6 {
  width: 50%;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.5vw;
  letter-spacing: 0.1vw;
  /* background-color: red; */
}

#page3-info-p2 {
  height: 100%;
  width: 55%;
  padding: 2vw 5vw;
  /* background-color: yellowgreen; */
}

#page3-info-p2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.random-img {
  height: 100%;
  width: 100%;
  padding: 2vw 5vw;
  /* background-color: yellowgreen; */
}

.random-img img {
  height: 100%;
  width: 100%;
  object-position: cover;
  object-position: top;
  /* background-color: red; */
  /* display: none; */
}

#update {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 2vw 5vw;
  margin-top: 3vw;
  /* background-color: rgba(255, 0, 0, 0.493); */
}

#update > h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: monument;
  font-size: 3vw;
  margin-bottom: 5vw;
}

.elem {
  height: 15vh;
  width: 100%;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: relative;
  /* background-color: red; */
}

.elem img {
  object-fit: cover;
  object-position: 57% 10%;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  left: 12%;
  opacity: 0;
  transition: all ease 0.7s;
}

.elem h4 {
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 500;
  width: 6%;
  /* background-color: red; */
}

.elem .elem-part2 {
  width: 45%;
  /* background-color: red; */
}

.elem-part2 h1 {
  font-size: 2.7vw;
  font-weight: 500;
  text-transform: uppercase;
}

.elem-part2 h5 {
  font-size: 0.8vw;
  font-weight: 500;
  text-transform: uppercase;
}

.elem:nth-last-child(1) {
  border-bottom: 2px solid #000;
}

.elem:hover img {
  opacity: 1;
  left: 24%;
}

#movie_shot {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 5vw;
}

#movie-shot-part1 {
  height: 100%;
  width: 50%;
  background-image: url(https://images.unsplash.com/photo-1706059922960-c2d6612a966c?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 10% 90%;
}

#movie-shot-part2 {
  height: 100%;
  width: 50%;
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* background-color: green; */
}

#container1 {
  height: 50%;
  width: 100%;
}

#movie-shot-part2 h1 {
  font-family: monument;
  text-transform: uppercase;
  font-size: 3vw;
  margin-bottom: 1.3vw;
}

#movie-shot-paragraph {
  font-size: 1vw;
  font-weight: 600;
  width: 15vw;
  margin-bottom: 1.3vw;
}

#movie-shot-paragraph2 {
  font-size: 1.01vw;
  font-weight: 500;
  margin-bottom: 1.3vw;
}

#container2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  /* background-color: red; */
}

#container-img1 {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1536243298747-ea8874136d64?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  /* background-color: blue; */
}

#container-img2 {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1562572159-4efc207f5aff?q=80&w=1035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

#marque {
  width: 100%;
  padding: 1vw;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 2px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 3vw;
  /* height: 15vh; */
  /* background-color: red; */
}

#marque h1 {
  display: inline-block;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #000;
  font-family: monument;
  margin-right: 16px;
  animation: move 5s linear infinite;
  /* background-color: blue; */
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

#blog {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 5vw;
}

#blog-header {
  height: 100%;
  width: 20%;
  /* background-color: aqua; */
}

#blog-header h1 {
  text-transform: uppercase;
  font-family: monument;
  font-size: 3.2vw;
}

#blog-info {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
  padding: 2vw 3vw;
  gap: 3vw;
}

.blog-content {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: red; */
}

.blog-content h5 {
  height: 20%;
  width: 100%;
  font-size: 1.9vw;
  font-weight: 500;
  margin-bottom: 2vw;
  /* background-color: aqua; */
}

.blog-img {
  height: 70%;
  width: 100%;
}

.blog-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  height: 20%;
  width: 100%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

footer h1 {
  height: 100%;
  width: 20%;
  text-align: center;
  font-family: monument;
  font-size: 45px;
  letter-spacing: -1px;
  position: relative;
  margin-top: 1vw;
  /* background-color: blue; */
}

footer h1::after {
  content: "©";
  font-family: gilroy;
  font-weight: 500;
  font-size: 20px;
  position: absolute;
  top: 3%;
  right: 14%;
}

footer h1::before {
  content: "model management";
  font-family: gilroy;
  color: #666;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0.1px;
  bottom: 67%;
  right: 17%;
}

footer h2 {
  height: 100%;
  width: 22%;
  border-right: 2px solid #000;
  font-size: 28px;
  font-weight: 500;
}

